# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = cinemago_parse.settings

[deploy]
url = http://localhost:6000/
project = cinemago_parse
username = admin
password = homm1994
